<div class="container">
  <nav class= "navbar navbar-default">
  <ul class= "nav navbar-nav">

    <li>
         <a routerLinkActive="active" routerLink="Binding">Binding &nbsp;&nbsp;&nbsp;|</a>
     </li>
     <li>
        <a routerLinkActive="active" routerLink="Hooks">Lifecycle Hooks &nbsp;&nbsp;&nbsp;|</a>
    </li>
    <li>
        <a routerLinkActive="active" routerLink="InputOutput">InputOutput &nbsp;&nbsp;&nbsp;|</a>
    </li>
    <li>
        <a routerLinkActive="active" routerLink="Tooltip">Tooltip &nbsp;&nbsp;&nbsp;|</a>
    </li>
    <li>
            <a routerLinkActive="active" routerLink="Pipesdemo">Pipesdemo &nbsp;&nbsp;&nbsp;|</a>
    </li>
    <li>
             <a routerLinkActive="active" routerLink="Directivecomp">Directivedemo &nbsp;&nbsp;&nbsp;|</a>
   </li>
   <li>
             <a routerLinkActive="active" routerLink="FormEmployee">forms &nbsp;&nbsp;&nbsp;|</a>
    </li>
    <li>
        <a routerLinkActive="active" routerLink="Injectible">Injectible Demo &nbsp;&nbsp;&nbsp;|</a>
</li>
    </ul>
    </nav>
             
 </div>

 <router-outlet></router-outlet>

